{% extends 'base.html' %}
{% block content %}

<h1 class="center">Bat List</h1>

{% for bat in bats %}
<div class="card">
    <!-- add this line below -->
    <a href="{% url 'detail' bat.id %}">
      <div class="card-content">
          <span class="card-title">{{ bat.name }}</span>
          <p>Breed: {{ bat.breed }}</p>
          <p>Description: {{ bat.description }}</p>
          {% if bat.age > 0 %}
             <p>Age: {{ bat.age }}</p>
          {% else %}
             <p>Age: Youngin</p>
          {% endif %}
      </div>
      <!-- and this one below as well -->
    </a>
  </div>
  
{% endfor %}`

{% endblock %}